.sidebar {                 // base sidebar styling
  width: 240px;
  height: 100vh;          // full viewport height
  position: sticky;      // stays in place on scroll
  top: 0;                // stick to the top
  background-color: #212529;
  color: #fff;
  transition: width 0.3s ease;
  flex-shrink: 0;                  
}


.sidebar.collapsed {                // when 'collapsed' class is applied
  width: 70px;
}

.sidebar-header {                       
  padding: 16px;                              // padding around header
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  margin: 0;
  font-weight: 600;
}

.nav-link {
  color: #adb5bd;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.nav-link:hover {
  background-color: #343a40;
  color: #fff;
}

.nav-link.active {
  background-color: #0d6efd;
  color: #fff;
}
.nav-link {
  border-radius: 6px;
  margin: 4px 8px;
}

.nav-link span:first-child {                      
  font-size: 18px;
}

@media (max-width: 768px) {                       // mobile responsiveness (apply to block only when screen width is 768px or less)
  .sidebar {
    position: fixed;                              // fixed position for mobile(on small screen)
    top: 0;
    left: -240px;                                   // hide sidebar off-screen to the left (coz sidebar width is 240px) sidebar is hidden by default on mobile
    height: 100vh;
    z-index: 2000;                                        // ensure it appears above main content
    transition: left 0.3s ease;
  }

  :host.mobile-open .sidebar {                         // when sidebar is open on mobile
    left: 0;                                               // slide sidebar into view
  }
}




