.navbar {
  height: 64px;
  position: fixed;
  top: 0;
  right:0;
  width: calc(100% - 240px);      // 👈 adjust width based on sidebar width
  z-index: 3000;
}

.notification-icon {
  cursor: pointer;
}

.notification-icon:hover {
  opacity: 0.7;
}
@media (max-width: 768px) {
  .navbar {
    width: 100vw;          // 👈 force full screen width
    margin-left: 0 !important;
  }
}


